.footer {
  display: flex;
  padding-left: 100px;

  background: #348388;
  height: 300px;
  width: 1020px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
}

.footeritem {
  flex: 20px;
}

.footerdev {
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: -23px;
  letter-spacing: 2px;
  background: #348388;
  height: 70px;
  width: 1120px;
}
.icon {
  display: flex;
}
.Deakin {
  display: flex;
  justify-content: center;
}
.footerlast {
  display: flex;
  padding-left: 100px;

  background: #348388;
  height: 100px;
  width: 1020px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
}
